In [11]:
import pandas as pd

In [12]:
data = pd.read_csv("Game_of_Thrones_Script.csv")

In [13]:
df = pd.DataFrame(data)

In [14]:
df

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011-04-17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...
2,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?
3,2011-04-17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.
4,2011-04-17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.
...,...,...,...,...,...,...
23906,2019-05-19,Season 8,Episode 6,The Iron Throne,brienne,I think we can all agree that ships take prece...
23907,2019-05-19,Season 8,Episode 6,The Iron Throne,bronn,I think that's a very presumptuous statement.
23908,2019-05-19,Season 8,Episode 6,The Iron Throne,tyrion lannister,I once brought a jackass and a honeycomb into ...
23909,2019-05-19,Season 8,Episode 6,The Iron Throne,man,The Queen in the North!
23910,2019-05-19,Season 8,Episode 6,The Iron Throne,all,The Queen in the North! The Queen in the North...

In [29]:
def select_col(df, col_names):
    new_df = df.loc[:, col_names]
    return new_df

In [30]:
selected_col = ['Season', 'Episode Title', 'Name']
data_new1 = select_col(df, selected_col)

In [31]:
selected_col = ['Release Date', 'Episode', 'Sentence']
data_new2 = select_col(df, selected_col)

In [32]:
data_new1

         Season     Episode Title              Name
0      Season 1  Winter is Coming      waymar royce
1      Season 1  Winter is Coming              will
2      Season 1  Winter is Coming      waymar royce
3      Season 1  Winter is Coming              will
4      Season 1  Winter is Coming             gared
...         ...               ...               ...
23906  Season 8   The Iron Throne           brienne
23907  Season 8   The Iron Throne             bronn
23908  Season 8   The Iron Throne  tyrion lannister
23909  Season 8   The Iron Throne               man
23910  Season 8   The Iron Throne               all

[23911 rows x 3 columns]

In [33]:
data_new2

,Release Date,Episode,Sentence
0,2011-04-17,Episode 1,What do you expect? They're savages. One lot s...
1,2011-04-17,Episode 1,I've never seen wildlings do a thing like this...
2,2011-04-17,Episode 1,How close did you get?
3,2011-04-17,Episode 1,Close as any man would.
4,2011-04-17,Episode 1,We should head back to the wall.
...,...,...,...
23906,2019-05-19,Episode 6,I think we can all agree that ships take prece...
23907,2019-05-19,Episode 6,I think that's a very presumptuous statement.
23908,2019-05-19,Episode 6,I once brought a jackass and a honeycomb into ...
23909,2019-05-19,Episode 6,The Queen in the North!
23910,2019-05-19,Episode 6,The Queen in the North! The Queen in the North...

In [34]:
data_new1.to_csv('GOT_new1.csv',index=False)

In [35]:
data_new2.to_csv('GOT_new2.csv',index=False)